body {
    background-image: url('../static/picture/222.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
  }

  .row-center{
    text-align:center;
    margin-top: 150px;
  }
  .col-center {
    display:inline-block;
    float:none;
    text-align:left;
    opacity: 0.7;
  }
  .w{
    color: #fff;
  }
.h{
  color: black;
}