<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<link href="/static/bootstarp/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/personal.css">
	<!--导航栏内容-->
	<div class="lll row size">
		<nav calss="navbar navbar-expand-xs">
			<div class=" col-12 ">
				<ul class="klo justify-content-center">
					<li class="nav-item p-3 m-0 ">
						<a href="{% url 'web:Home' %}" class="nav-link">首页</a>
					</li>
					<li class="nav-item p-3">
						<a href="{% url 'web:personal' %}" class="nav-link">个人中心</a>
					</li>
					<li class="nav-item p-3">
						<a href="{% url 'web:site' %}" class="nav-link">关于本站</a>
					</li>

					<li class="nav-item dropdown p-3 m-0 ">
						{% if user.is_authenticated %}
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							    {{ name }}
						    </a>
                            <ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{% url 'user:logout' %}">登出</a></li>
						    </ul>
                        {% else %}
						    <a href="{% url 'user:login' %}" class="nav-link">登录</a>
                        {% endif %}
					</li>

				</ul>
			</div>
		</nav>
	</div>


	<!--搜索栏内容-->
	<div class=" p-4  lll">
        <form  method="POST" id="searchform" action="/search/">
             {% csrf_token %}
		<input name="s" class="form-control" list="datalistOptions" id="exampleDataList val" placeholder="Type to search...">
        </form>
    </div>

	<!--座右铭内容-->

	<div class=" p-4">
		<div class="row  mantra">
			<div class="rol-12 text-center ">
				<p>当天赋,努力都成为炮灰的时候,请相信不败的意识会带你杀出重围</p>
			</div>
		</div>
	</div>

	<!--文章内容-->
	<div class="container">
		<div class="mian">
			<div class="left left_reuu col-sm-12">

				<div class="text_tab show">
					<h3>{{ art.title }}</h3>
					<p>{{ art.text }}</p>
				</div>
				<div class="pic">
                    {% if art.image %}
					<img src="../{{ art.image.url }}">
                    {% endif %}
                    {% if art.ppp %}
					<img src="../{{ art.ppp.url }}">
                    {% endif %}
                    {% if art.lll %}
                    <img src="../{{ art.lll.url}}">
                    {% endif %}
				</div>
			</div>
			<div>
                    <p></p>
                    <a href="{% url 'web:add' aid %}" style="color: white">评论</a>

                </div>
                <div class="text_tab show" style="color: #F4F5F6">
                    {% for comment in comment_list %}
                        <div>
                            <p>{{ comment.name }}的评论:</p>
                                <p>
                                    {{ comment.comments }}
                                    <a href="{% url 'web:delete' comment.id  aid %}" style="float:right">删除评论</a>
                                </p>
				        </div>
                    {% endfor %}
			    </div>
        <div class="un_page">
                     {% if comment_list.has_previous %}
                     <a href="?page={{ comment_list.previous_page_number }}">
                           上一页
                        </a>
                    {% endif %}
					 <span>
                    {{ comment_list.number }}
                    </span>
                    {% if comment_list.has_next %}
                        <a href="?page={{ comment_list.next_page_number }}"
                            class="btn btn-info">
                            下一页
                        </a>
                    {% endif %}
				</div>
		</div>
	</div>
	<!--icp备案-->
	<div class="footer">
		<div class="container">
			<!--<div class="row"> -->
			<div class="rol-12 fixed-bottom text-center">
				<p style="color: #F4F5F6">京ICP备2024050578号-1</p>
			</div>
		</div>
	</div>
	</div>
	<script src="/static/bootstarp/bootstrap.js"></script>
	</body>

</html>

